1. Install sratoolkit via homebrew: brew install sratoolkit
2. Fetch the three biosamples:
    - 'prefetch SRR'
    - 'fastq-dump <sra file>'
- SRR24581285: cryoconite
- SRR24581281: biofilm
3. Download 2000 random viruses
    - or full virus 11:36 - 
4. Download 10 full bacterial genomes identified in the original study:
    - genomes found in other/PRJNA942590_AssmeblyDetails.txt
    - https://www.ncbi.nlm.nih.gov/bioproject/PRJNA942590
    - *Only downloaded the genbank versions:
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035019245.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035018805.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035018845.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035018865.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035018965.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035019305.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_034346205.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035019625.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035019785.1/
        - https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_035019285.1/

https://www.ncbi.nlm.nih.gov/Traces/study/?acc=SRP435530      

5. Download Viruses
    a. Download 2000 random viruses from: https://www.ncbi.nlm.nih.gov/labs/virus/vssi/#/virus?SeqType_s=Nucleotide
    b. Download the Nucleocytoviricota refseq genomes from: https://www.ncbi.nlm.nih.gov/labs/virus/vssi/#/virus?SeqType_s=Genome&VirusLineage_ss=Nucleocytoviricota,%20taxid:2732007
        - These are the viruses that were found in the red snow alge from: https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-024-01796-y